body { 
color: white;
text-align:center;
background-color:black;

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img{
 max-width: 75vw;
}

iframe{
	max-width: 75vw;
}

.member{
	margin-top: 50px;
    border: solid white 5px;
	max-width: 75vw;
 }